#wiktionary-popup {
  all: initial;
  display: block;
  position: absolute;
  overflow: auto;
  z-index: 2147483647;
  direction: ltr;
  width: 21em;
  max-height: 13em;
  min-height: 7em;
  border-radius: 5px;
  background: #faf6f0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#wiktionary-popup-contents {
  all: initial;
  display: block;
  user-select: none;
  font-family: Georgia, serif;
  color: black;
  font-size: inherit;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
  overflow-wrap: break-word;
  hyphens: auto;
}
.wiktionary-popup-usage {
  margin-top: 1.2em;
}
.wiktionary-popup-entry {
}
.wiktionary-popup-entry-text {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1em;
}
.wiktionary-popup-entry-pos {
  white-space: nowrap;
  line-height: 2em;
}
.wiktionary-popup-entry-language {
  display: inline;
  float: right;
  color: grey;
  font-style: italic;
  line-height: 2em;
}
.wiktionary-popup-definitions {
  list-style-type: decimal;
  line-height: 1.3em;
  padding-left: 1.5em;
  margin-top: 0.9em;
}
.wiktionary-popup-definition {
  display: list-item;
  margin-bottom: 0.7em;
}
.wiktionary-popup-definition-text {
  margin-bottom: 0.7em;
}
.wiktionary-popup-examples {
  list-style-type: none;
  font-size: 0.95em;
  line-height: 1.3em;
  padding-left: 0.5em;
}
.wiktionary-popup-example {
  display: list-item;
  margin-bottom: 0.7em;
}
.wiktionary-popup-example-text {
  font-style: italic;
}
.wiktionary-popup-link {
  color: darkred;
}
.wiktionary-popup-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.wiktionary-popup-bold {
  font-weight: bold;
}
.wiktionary-popup-italic {
  font-style: italic;
}
.wiktionary-popup-sub {
  vertical-align: sub;
  font-size: smaller;
}
.wiktionary-popup-sup {
  vertical-align: super;
  font-size: smaller;
}
